@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";
@import url(common.css);
@import url(footer.css);
@import url(admin_style.css);
@import url(horizontal_nav_bar.css);
@import url(show_product.css);
@import url(admin_forms.css);
@import url(checkout.css);
@import url(slider.css);
#wrapper{
    min-height: 620px;
    padding: 3%;
}

#show-product{
    margin: 0 auto;
}